version: "3.1"

services:
  db:
    container_name: db
    image: postgres:15-alpine
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: equator
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - .:/root/equator/backend

  backend:
    container_name: backend
    build: .
    restart: always
    ports:
      - 8000:8000
    depends_on:
      - db
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db: null
